                /* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

            /* macrosezioni */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 90%)
}

header{
    margin-bottom: 2rem;
    height: 3.5rem
}

main{
    max-width: 100%;
    padding: 0 25%
}

                /* titoli */
h1{
    display: inline-block;
    vertical-align: top;
    padding: 0.5rem 0;
}

h2{
    font-size: 20px;
    margin-bottom: 5px;
}

                /* nav */
#nav{
    height: 3.5rem;
    margin-bottom: 0.3rem;
    padding: 1rem 0 1rem 3rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.border-button{
    border: solid 1px hsl(0, 0%, 90%);
    border-radius: 5px;
    padding: 3px;
}

            /* to do list */
ul{
    list-style-type: none;
}

.list{
    padding: 2rem 0 0 3rem;
}

li{
    margin-left: 1rem;
    margin-bottom: 1rem;
}

span{
    border-radius: 25px;
    padding: 3px;
    font-size: 8px;
    vertical-align: middle;
    margin-left: 5px; 
}

.done{
    height: 1.3rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.undone{
    height: 1.3rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

                /* bg style */
.bg-white{
    background-color: white;
}
.bg-blue{
    background-color: cornflowerblue;
    color: white;
}

.bg-purple{
    background-color: rgb(129, 82, 228);
    color: white;
}

.bg-green{
    background-color: rgb(56, 189, 132);
    color: white;
}

.bg-orange{
    background-color: rgb(251, 162, 78);
    color: white;
}

.bg-pink{
    background-color: rgb(195, 60, 154);
    color: white;
}

.bg-yellow{
    background-color: rgb(199, 237, 87);
    color: white;
}

